derby.log
.emacs.desktop
node_modules
.ensime_cache
logs
project/project
project/target
target
lib
tmp
.history
dist
.idea
*.iml
*.pyc
/out
.idea_modules
.classpath
.project
/RUNNING_PID
.settings
.DS_Store
#application.conf
.#*

# temp files
.~*
*~
*.orig
tmp/

# eclipse
.scala_dependencies
.buildpath
.cache
.target
.ensime

.vscode

externals

doc/projects.png
